<div class="section">
  <h2 class="title is-2">Edit invite</h2>
  <div class="container">
    <div class="columns">
      <div class="column">
        <%= render 'rsvp-form', invite: @invite %>
      </div>
      <div class="column">
        <%= render 'events/preview', event: @event %>
      </div>
    </div>
  </div>
</div>