<div class="section">
  <div class="container is-fullhd">
    <div class="columns">
      <div class="column">
        <%= render 'event-form', event: @event %>
        <%= link_to "Delete Event", event_path(@event), method: :delete, data: {confirm: 'Delete event?'} %>
      </div>
      <div class="column">
        <%= render 'preview', event: @event %>
      </div>
    </div>
  </div>
</div>