<%# Main page of the site %>
<section class="section">
  <div class="block">
    <div class="container">
      <h2 class="title is-2">Events Listing</h2>
    </div>
  </div>
  <div class="columns is-multiline">
    <%= render 'events', events: @events %>
  </div>

  <div class="level">
    <div class="level-left">
      <div class="block">
        <div class="level-item">
          <nav class="pagination">
            <% unless @page.zero? %>
              <%= link_to "Previous Page", events_path(page: @page - 1), class: 'pagination-previous' %>
            <% end %>
          </nav>
        </div>
      </div>
    </div>
    <div class="level-right">
      <div class="level-item">
        <nav class="pagination">
        <% if @older_events.exists? %>
          <%= link_to "Next Page", events_path(page: @page + 1), class: 'pagination-next' %>
        <% end %>
      </nav>
      </div>
    </div>
  </div>

</section>